@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p> Mã sinh viên: 013204010</p>
    <p>Họ Và tên : nguyen van a</p>
    <p>Email: abc@gmail.com</p>
    <p>SĐT: 12304013141</p>
    <p>Lớp: K23</p>
    
</div>

