@{
    ViewData["Title"] = "thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>thông tin sinh viên</h1>
    <p>MSV: 23101241241</p>
    <p>Họ và tên: Mai Binh An</p>
    <p>Lop:k23cnt1</p>
    <p>Email: Mba@gmail.com</p>
    <p>Số điện thoại: 0123456789</p>
</div>
