@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<div class="alert alert-danger">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Mã sinh viên: 2310900001</p>
    <p>Họ và tên: Mai Binh An</p>
    <p>Email: mastershining000@gmail.com</p>
    <p>Điện thoại: 0394772786</p>
    <p>Lớp: K23CNT1</p>
</div>

