@{
    ViewData["Title"] = "MbaAccount";
}

<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p> Id</p>
    <p> FullName</p>
    <p> Email</p>
    <p> Phone: <a href="tel: " title=""> </a></p>
    <p> Address</p>
    <p> image</p>
    <p> Date</p>
    <p> Password</p>
    <p> Link FB</p>
</div>
