@{
    ViewData["Title"] = "Thông tin ";
}

<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Id: No.01</p>
    <p>Fullname: Mai Bình An</p>
    <p>MbaEmail: Mba@gmail.com</p>
    <p>MbaPhone: <a href="tel:0124148138" title="0124148138">0124.148.138</a>    </p>
    <p>MbaAddress: Cầu Giấy, Hà Nội</p>
    <p>MbaAvt: </p>
    <p> MbaBirthday: 2005/01/03</p>
    <p> MbaBio: MBan</p>
    <p>Gender : </p>
</div>