@{
    ViewData["Title"] = "thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>
<div class=" alert alert-danger">
    <p> thong tin sinh vien :</p>
    <p> Ma SV :01</p>
    <p>Ho và Tên SV :Mai binh an</p>
    <p>Email :Mba@gmail.com</p>
    <p>SĐT : 010000000000000000</p>
    <p>Lớp :K23cnt1-NET</p>
</div>